<div class="h-full flex justify-center">
    <div class="h-full w-4/5 flex items-center gap-10 py-12 flex-col">
        <div class="bg-gray-300 w-3/4 p-5 text-base rounded-xl flex flex-row gap-10 min-w-620px">
            <div class="h-full w-1/4 flex flex-col gap-5 items-center min-w-64">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Valeriy_Konovalyuk_3x4.jpg" class="my-border h-fit rounded-lg" alt="">
                <button routerLink="/doctor/1/appointments" mat-flat-button class="w-full" >
                    <span class="text-lg font-normal">
                        Записатись на прийом
                    </span>
                </button>
            </div>
            <div class="flex flex-col w-3/4 gap-5 text-slate-700 min-w-72">
                <div class="p-4 rounded-xl bg-white my-border">
                    <span class="text-2xl font-medium">Боржієвський Олександр Анатолійович</span>
                </div>
                <div class="flex gap-2 flex-col p-4 rounded-xl bg-white my-border">
                    <span class="text-lg">Спеціальність: <i>Сімейний лікар</i></span>
                    <span class="text-lg">Кабінет: №27</span>
                </div>
                <div class="flex gap-2 flex-col p-4 rounded-xl bg-white my-border">
                    <span class="text-lg">Дата народження: 20.12.1980</span>
                    <span class="text-lg">Освіта:</span>
                    <span class="text-lg ml-8 italic">Західноукраїнський Національний Університет</span>
                    <span class="text-lg">Працює з: <i>26.02.2003</i></span>
                </div>
            </div>
        </div>
    </div>
</div>