<div class="h-full flex justify-center">
    <div class="h-full w-4/5 flex items-center gap-10 py-12 flex-col">
        <div *ngIf="doctor" class="bg-slate-200  w-3/4 p-5 text-base rounded-xl flex flex-row gap-7 min-w-620px">
            <div class="h-full w-1/4 flex flex-col gap-5 items-center min-w-64">
                <img [src]="doctor.imgUrl" loading="lazy" class="h-fit rounded-lg my-border" alt="">
                <button [routerLink]="['/doctor', doctor.id, 'appointments']" mat-flat-button class="w-full my-button" >
                    <span class="text-lg font-normal">
                        Записатись на прийом
                    </span>
                </button>
            </div>
            <div class="flex flex-col  rounded-xl w-3/4 gap-5 text-slate-700 min-w-72">
                <div class="p-4 rounded-xl my-border text-center bg-white">
                    <span class="text-2xl font-medium">{{doctor.fullName}}</span>
                </div>
                <div class="flex gap-2 flex-col p-4 rounded-xl my-border bg-white">
                    <span class="text-lg">Спеціальність: {{doctor.specialtyName}}</span>
                    <span class="text-lg">Кабінет: {{doctor.room}}</span>
                </div>
                <div class="flex gap-2 flex-col p-4 rounded-xl my-border bg-white">
                    <span class="text-lg">Дата народження: {{doctor.birthDay.toLocaleDateString()}}</span>
                    <span class="text-lg">Освіта:</span>
                    <span class="text-lg ml-8 italic">{{doctor.education}}</span>
                    <span class="text-lg">Працює з: {{doctor.employedSince.toLocaleDateString()}}</span>
                </div>
            </div>
        </div>
    </div>
</div>